html, body {
    padding: 0;
    margin: 0;
}

div#header {
    background-color: #0293b3;
    background-image: url(https://raw.githubusercontent.com/fusepoolP3/platform/master/backends/marmotta/dashboard/src/main/resources/web/public/images/fusepool.png);
    margin: 0;
    border-radius: 0 !important;
}

div#header h2 {
    display: inline-block;
}

h1, h2, h3 {
    background-color: inherit !important;
    color: #0293b3;
}

.ontologies {
    background-color: #0293b3;
}

.ontologies h3 {
   color: #dddddd;
}

.ontologies div.term h3 span.menu span {
   color: #dddddd;
   border: 2px solid #dddddd;
}

.ontologies div.term h3 span.menu span.active {
   color: #0293b3;  
   border: 2px solid #ffffff;
}

div.toc, div#prologue, div#appendix {
    border: solid #0293b3;
    background-color: #dddddd;
}

.jx-bar {
    background-color: #dddddd;
    border: 1px solid #0293b3;
}

.jx-bar span {
    background-color: #dddddd;
}

.jx-bar-button li {
    border: 1px solid #0293b3;
}

.jx-bar-button li a:link, .jx-bar-button li a:visited {
    color: white;
}

.jx-show {
    background-color: #dddddd;
    border: 1px solid #0293b3;
}
